@{
    ViewData["Title"] = "Home Page";
}

    <div class="panel-body">
        <h1 class="display-4">Welcome</h1>
        <div class="text-center">@Html.Label("label1", "Ejercicio 1", new { style = "font-size: 20px; color: green;", @class = "control-label" })</div>
        <div class="row">
            <div class="col-md-2">
                @Html.Label("", " ", new { style = "font-size: 14px; color: green;", @class = "control-label" })
            </div>
            <div class="col-md-2">
                @Html.Label("", "Punto 1", new { style = "font-size: 14px; color: green;", @class = "control-label" })
            </div>
            <div class="col-md-2">
                @Html.Label("", "Punto 2", new { style = "font-size: 14px; color: green;", @class = "control-label" })
            </div>
            <div class="col-md-2">
                @Html.Label("", "Punto 3", new { style = "font-size: 14px; color: green;", @class = "control-label" })
            </div>
            <div class="col-md-2">
                @Html.Label("", "Punto 4", new { style = "font-size: 14px; color: green;", @class = "control-label" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.Label("", "Suben", new { style = "font-size: 14px; color: green;", @class = "control-label" })
            </div>
            <div class="col-md-2">
                @Html.Editor("point1", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-2">
                @Html.Editor("point2", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-2">
                @Html.Editor("point3", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-2">
                @Html.Editor("point4", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.Label("", "Bajan", new { style = "font-size: 14px; color: green;", @class = "control-label" })
            </div>
            <div class="col-md-2">
                @Html.Editor("point1", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-2">
                @Html.Editor("point2", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-2">
                @Html.Editor("point3", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-2">
                @Html.Editor("point4", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />
        <div class="text-center">
            <button id="button1" class="primary-button">Ver</button>
        </div>
        <div class="text-center">@Html.Label("label2", "Ejercicio 2", new { style = "font-size: 20px; color: green;", @class = "control-label" })</div>
        <div class="text-center">
            <button id="button2" class="primary-button">Ver</button>
        </div>
        <div class="text-center">@Html.Label("label3", "Ejercicio 3", new { style = "font-size: 20px; color: green;", @class = "control-label" })</div>
        <div class="row text-center">
            @Html.TextArea("exercise3", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="text-center">
            <button id="button3" class="primary-button">Ver</button>
        </div>
        <div class="text-center">@Html.Label("label5", "Ejercicio 5", new { style = "font-size: 20px; color: green;", @class = "control-label" })</div>
        <div class="text-center">
            <button id="button4" class="primary-button">Consumir Servicio</button>
        </div>
        <div class="text-center">@Html.Label("label6", "Ejercicio 6", new { style = "font-size: 20px; color: green;", @class = "control-label" })</div>
        <div class="text-center">
            <button id="button5" class="primary-button">Consumir Servicio</button>
        </div>
        <div class="text-center">@Html.Label("label7", "Ejercicio 7", new { style = "font-size: 20px; color: green;", @class = "control-label" })</div>
        <div class="row text-center">
            @Html.TextArea("exercise7", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="text-center">
            <button id="button6" class="primary-button">Ver</button>
        </div>
        <div class="text-center">@Html.Label("label8", "Ejercicio 8", new { style = "font-size: 20px; color: green;", @class = "control-label" })</div>
        <div class="row text-center">
            @Html.TextArea("exercise8", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="text-center">
            <button id="button7" class="primary-button">Ver</button>
        </div>
        <div class="text-center">@Html.Label("label9", "Ejercicio 9", new { style = "font-size: 20px; color: green;", @class = "control-label" })</div>
        <div class="row text-center">
            @Html.TextArea("exercise9", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="text-center">
            <button id="button8" class="primary-button">Ver</button>
        </div>
        <div class="text-center">@Html.Label("label10", "Ejercicio 10", new { style = "font-size: 20px; color: green;", @class = "control-label" })</div>
        <div class="row text-center">
            @Html.TextArea("exercise7", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="text-center">
            <button id="button9" class="primary-button">Ver</button>
        </div>
        <div class="text-center">@Html.Label("label11", "Ejercicio 11", new { style = "font-size: 20px; color: green;", @class = "control-label" })</div>
        <div class="row text-center">
            @Html.TextArea("exercise7", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="text-center">
            <button id="button10" class="primary-button">Ver</button>
        </div>

        <script src="~/js/General.js"></script>
